include cpro/html/*
include LICENSE README.md
include setup.py
include cpro/*py
include cpro/progress-circle/*
include cpro/progress-circle/*/*
global-exclude *.pycinclude *.ipynb *.gif *tests/notebooks/*
